.blog-post {
  padding-top: 40px;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 30px;
  }

  .button-wrapper {
    display: flex;

    .save-action {
      width: 200px;
      margin-left: auto;
      margin-right: 0px;
    }

    .back-action {
      width: 200px;
      margin-left: 0px;
      margin-right: auto;
    }
  }
}
